<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.workingagenda.fissure">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.NoActionBar"
            android:icon="@mipmap/ic_launcher_2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gun0912.tedpicker.ImagePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme_picker" />
        <activity
            android:name=".PrefHelper.SettingsActivity"
            android:label="@string/preference_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.fissure.MainActivity" />
        </activity>
        <activity
            android:name=".ViewActivity"
            android:label="@string/view_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.fissure.MainActivity" />
        </activity>
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/instructions_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.fissure.MainActivity" />
        </activity>
        <activity
            android:name=".FilesActivity"
            android:label="@string/files_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.workingagenda.fissure.ViewActivity" />
        </activity>
    </application>

</manifest>
